fastapi
uvicorn
pydantic
pydantic-settings
chromadb 
python-dotenv
langchain
langchain-core
langchain-community
langchain-ollama
langchain-chroma
ollama
dotenv
#langchain draw graph
grandalf
pydantic[email]
uvicorn[standard]
motor 
beanie 
python-jose[cryptography] 
passlib[bcrypt] 
python-multipart
pydantic[email]
# sending email
email-validator
aiosmtplib
#sentence-transformers
pymupdf 
pydantic[email]
fastapi-utils